<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Success!</title>
		<script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
		<link type="text/css" rel="stylesheet" src="{{url_for('static', filename='css/style.css')}}" />
	</head>
	<body>
		<h1>Success!</h1>
		<h3>Welcome {{ name }}! You've successfuly logged in!</h3>
		<form action='/logout' method='post'>
			<input type="submit" value="logout" name="logout" />
		</form>

	</body>

</html>
